In [3]:
import pandas as pd

In [6]:
data = pd.read_csv(r"C:\Users\samsung\Desktop\Geospatial_Coordinates.csv")

In [7]:
data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476